<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand text-white">UTPL DASHBOARDS LABS</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <div class="nav-wrapper">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li
            class="nav-item"
            [routerLink]="['/home']"
            routerLinkActive="active"
          >
            <a class="nav-link" >OverView</a>
          </li>
          <li
            class="nav-item"
            [routerLink]="['/home/statictis']"
            routerLinkActive="active"
          >
            <a class="nav-link ">Statistcs</a>
          </li>
          <li
            class="nav-item"
            [routerLink]="['/home/users']"
            routerLinkActive="active"
          >
            <a class="nav-link" >Users</a>
          </li>
        </ul>
      </div>
      <i (click)="uploadFileModal.show()" class="text-white fas fa-cog"></i>
    </div>
  </div>
</nav>


<router-outlet></router-outlet>


<div bsModal #uploadFile="bs-modal" role="dialog" aria-labelledby="dialog-child-name" class="modal fade custom-modal">
  <div class="modal-header">
    <h4 class="modal-title pull-left">Ingresar Archivo</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)='uploadFileModal.hide()'>
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class='mb-3' style="display: flex; flex-direction: row; align-items: center;">
      <p style="font-weight: bold;">Borrar último archivo. </p>
      <button class="ml-3 btn btn-danger" (click)='deleteFile()'><i class="fas fa-trash"></i></button>
    </div>
    <form enctype="multipart/form-data">
      <label for="formFileLg" class="form-label">Archivo (.xlsx)</label>
      <input accept=".xlsx" class="form-control form-control-lg" id="formFileLg" type="file"
        (change)='fileChange($event)'>
      <button type="button" class='mt-1 btn btn-primary' (click)="onSubmit()">Upload File</button>
    </form>
  </div>
</div>
