.login-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: transparent;
    z-index: 10;
}

.login-form > input{
    outline: none;
    height: 2rem;
    margin-top:1em;
    width: 20em;
    background-color: black;
    border: 1px solid white;
    color: white;
    border-radius: 1rem;
    text-align: center;
}
.login-form > input::placeholder{
    color: white;
}
.login-form > button{
    outline: none;
    background-color: black;
    color: white;
    padding: 0.5em;
    width: 5em;
    border-radius: 1.5em;
    border:1px white  solid;
    margin-top: 1em;
}
.login-form > button:hover{
    cursor: pointer;
}
.error-mesage{
    color:red
}